@model MyEverNote.Entities.Category

@{
    ViewBag.Title = "Sil";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h3 class="mt-3">Silmek istediğinize emin misiniz?</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <h4 class="text-danger">Kategori</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUserName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Geri", "Index", null, new { @class = "btn btn-primary" }) |
                <button type="submit" class="btn btn-danger">Sil</button>

            </div>
        }
    </div>
</div>
